<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dasol Um</title>
    <link rel="stylesheet" href="../css/default.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/aos.css">
    <script src="../js/jquery-3.6.4.min.js"></script>
    <script src="../js/script.js"></script>
    <script src="../js/aos.js"></script>
</head>

<body>
    <div class="layout">
        <div class="main_left">
            <!-- #1 main -->
            <section class="slogan">
                <p data-aos="fade-up">Dasol um</p>
                <span data-aos="fade-up">pianist</span>
                <div data-aos="fade-up">
                    <img src="../img/dasol.jpg" alt="">
                    <a href="mailto:dasolumpiano@gmail.com"><span>e-mail</span></a>
                </div>
            </section>
        </div>
        <div class="main_right">
            <!-- #2 bio -->
            <section class="m_sec2">
                <p class="tit" data-aos="fade-up">Biography</p>
                <ul>
                    <li data-aos="fade-up">Korean-born pianist Dasol Um began learning the piano at the age of seven. Her achievements include being awarded the first prize at the Music Association of Daegu Competition and the GVSU Concerto Competition, as well as securing second and third places in the Grand Rapids Youth Symphony Orchestra Competition and MTNA – Stecher and Horowitz Two Piano Competition, respectively.</li>
                    <li data-aos="fade-up">Ms. Um has graced the stage with orchestras such as the Daegu Strings Symphony Orchestra in South Korea and the GVSU Symphony Orchestra in Michigan. She has performed in public masterclasses for notable pianists such as Antonio Pompa-Baldi, Boris Slutsky, Sergei Babayan, and Martín García García. She earned her B.M. in Piano Performance at the Grand Valley State University with a full scholarship under Dr. Helen Marlais, followed by a M.M. in Piano Performance with a graduate assistantship at the Ithaca College under Dr. Dmitri Novgorodsky.</li>
                    <li data-aos="fade-up">In addition to her performance recognitions, Ms. Um has showcased her dedication to piano pedagogy by pursuing a concurrent Master's in Piano Pedagogy. Her passion for teaching was highlighted as a guest artist at the MTNA conference under Dr. Helen Marlais and through a pedagogy research presentation at the OMTA. Ms. Um continues to enrich the world of music through her multifaceted talents and unwavering dedication to both performance and education.</li>
                    <li data-aos="fade-up">Currently a D.M.A. candidate in piano performance under the guidance of Dr. Brian Hsu (formerly Dr. Claire Wachter). Ms. Um holds a full graduate employee position, serving as a piano instructor and collaborative pianist at the University of Oregon.</li>
                </ul>
            </section>
            <!-- #3 video -->
            <section class="m_sec3">
                <p class="tit" data-aos="fade-up">Video</p>
                <ul>
                    <li data-aos="fade-up">
                        <p>R. Schumann Davidsbündlertänze, Op. 6</p>
                        <a target="_blank" title="새창" href="https://youtu.be/cCWOPoceXbM?si=7WDjTvBCswfcCnQq"></a>
                        <!-- <iframe height="315" src="https://www.youtube.com/embed/cCWOPoceXbM?si=yK3cKfJwkPQHBWpu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen style="width:100%;"></iframe> -->
                    </li>
                    <li data-aos="fade-up">
                        <p>Haydn Sonata in E-flat major, Hob XVI.52</p>
                        <a target="_blank" title="새창" href="https://youtu.be/KxfVWLg7rtI?si=sGXhJCtYQBamAItB"></a>
                        <!-- <iframe height="315" src="https://www.youtube.com/embed/KxfVWLg7rtI?si=8COcvJUuU4SCp9Vb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen style="width:100%;"></iframe> -->
                    </li>
                    <li data-aos="fade-up">
                        <p>Franck Sonata in A major, I. Allegretto ben moderato</p>
                        <a target="_blank" title="새창" href="https://youtu.be/BaTHBjPGUKw?si=leeGk_7_eQhvOgmN"></a>
                        <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/BaTHBjPGUKw?si=JSQEOBuMDcmFTnGA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->
                    </li>
                    <li data-aos="fade-up">
                        <p>Franck Sonata in A major, II. Allegro</p>
                        <a target="_blank" title="새창" href="https://youtu.be/gu29KWEPps4?si=bvsZVe5EEJMZKTP7"></a>
                        <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/gu29KWEPps4?si=jWo67DTXd55bWP_j" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->
                    </li>
                    <li data-aos="fade-up">
                        <p>Prokofiev piano concerto No. 2 (with cuts)</p>
                        <a target="_blank" title="새창" href="https://youtu.be/ourxng3L5Eg?si=bqpOoBh4wITHd04x"></a>
                        <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/ourxng3L5Eg?si=QXxgs8IrGRnnhgPU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->
                    </li>
                    <li data-aos="fade-up">
                        <p>Liszt transcendental etude no. 11 (Master degree recital)</p>
                        <a target="_blank" title="새창" href="https://youtu.be/qYgfrGIUSv8?si=Vu1w9pdMjgdRjS60"></a>
                        <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/qYgfrGIUSv8?si=rjjzszrlaMZlZtYn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->
                    </li>
                    <li data-aos="fade-up">
                        <p>Brahms Variations on a Theme by Haydn, Op. 56b</p>
                        <a target="_blank" title="새창" href="https://youtu.be/P24c7Ao730A?si=M6huE9rEawJcGj7K"></a>
                        <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/P24c7Ao730A?si=H-E20dfoh7npYPtE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->
                    </li>
                    <li data-aos="fade-up">
                        <p>Rachmaninoff Suite No. 2, Op. 17, Mvt. IV: Tarantella</p>
                        <a target="_blank" title="새창" href="https://youtu.be/5BzZpVnhraY?si=w1ZGjwK3ZsEP_3vC"></a>
                        <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/5BzZpVnhraY?si=MUJz9PXvBeZDzp5v" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->
                    </li>
                </ul>
            </section>
        </div>
    </div>
</body>

</html>